[submodule "src/micropython"]
	path = src/micropython
	url = git@github.com:micropython/micropython.git
[submodule "aviator/micropython"]
	path = aviator/micropython
	url = https://github.com/micropython/micropython.git
[submodule "aviator/ESP32-HUB75-MatrixPanel-DMA"]
	path = aviator/ESP32-HUB75-MatrixPanel-DMA
	url = git@github.com:mrcodetastic/ESP32-HUB75-MatrixPanel-DMA.git
